body {
    padding: 0;
    margin: 0;
    background-color: #F6C82C;
    font-family: Sen;
    text-transform: uppercase;
}

* {
    scroll-behavior: smooth;
}



/* UNIVERSAL */

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: Sen;
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 60px;
    letter-spacing: 14px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
    margin-top: 0;
}

h2 {
    font-family: Sen;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    color: white;
}

.btn-black {
    min-width: 260px;
    background-color: black;
    color: #F6C82A;
    font-family: Sen;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 25px;
    display: inline-block;
    padding: 5px 40px;
    transition: all 0.4s ease-in-out;
    text-transform: uppercase;
}

.btn-black:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.btn-yellow {
    min-width: 260px;
    background-color: #F6C82A;
    color: black;
    font-family: Sen;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 25px;
    display: inline-block;
    padding: 5px 10px;
    transition: all 0.4s ease-in-out;
    text-transform: uppercase;
}

.btn-yellow:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.flex-btn {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

button.flex {
    margin: 5vh 0 0;
}

/* section padding */
.content-container {
    width: auto;
    padding: 8vh 10vw;
}



/* LANDING */

#landing {
    padding: 3vh 4vw;
    height: 94vh;
    background-image: url(media/Bitmap.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: right;
}

nav {
    display: flex;
    flex-direction: row;
}

.logo {
    flex-grow: 3;
}

.logo > img {
    filter: invert(100%);
}

.nav-links {  
    list-style: none;
    color: black;
    display: flex;
    flex-grow: 1;
    text-align: right;
    justify-content: space-between;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
}

.nav-links > li > a:hover {
    color: white;
    border-bottom: white 2px solid;
}

.social-links {
    width: auto;
    height: 36%;
    position: absolute;
    margin: 5%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: space-between;
}

.social-links > a > img {
    max-height: 22px;
    max-width: 22px;
}

.social-links > a > img:hover {
    filter: invert(100%);
}

.hero {
    position: absolute;
    bottom: 0;
    margin: auto 6vw 8vh;
}

.hero-subtext {
    font-family: Sedgwick Ave;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 3.33333px;
    margin-bottom: 10px;
}

h1.hero-title {
    font-family: Sen;
    font-style: normal;
    font-weight: 800;
    font-size: 57px;
    line-height: 50px;
    letter-spacing: 0;
    margin-top: 0;
    -webkit-text-fill-color: black;
    -webkit-text-stroke: transparent;
}

.hero-controls {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: auto 6vw 8vh;
}

.hero-controls > a > img {
    padding: 0 40px;
}
.hero-controls > a > img:hover {
    filter: invert(100%);
}



/* RELEASES CONTENT */

#releases {
    height: auto;
    background-image: linear-gradient(to right, #353535 65%, #202020 35%);
}

.releases-grid {
    display: flex;
    flex-direction: row wrap;
    align-items: center;
    justify-content: center;
}

.larger {
    flex-grow: 1;
    width: 49%;
    margin: 1% 0 1% 1%;
    box-sizing: border-box;
}

.larger > img {
    box-shadow: 0 15px 10px -6px #00000050;
    width: 100%;
}

.smaller-grid {
    flex-grow: 1;
    width: 49%;
    margin: 0.5%;
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap row;
    align-items: flex-start;
    justify-content: flex-start;
}

.smaller {
    flex-grow: 1;
    width: 49%;
    margin: 0.5%;
    box-sizing: border-box;
}

.smaller > img {
    box-shadow: 0 15px 10px -6px #00000050;
    width: 100%;
}

#overlay {
    width: 19.25%;
    height: 34.5%;
    display: none;
    position: absolute;
    background-color: #00000090;
    z-index: 1;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.overlay-title {
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 0;
    margin-bottom: 2px;
    color: white;
}

.overlay-artist {
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 0;
    color: white;    
}

.overlay-action {
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 0;
    color: #F6C82A;
}



/* TOUR CONTENT */

#tour {
    height: auto;
    background-color: #000000;
}

.tour-grid {
    display: flex;
    max-height: 80vh;
    flex-flow: column wrap;
}

.tour-item {
    width: 45%;
    max-height: 30%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 65% 35%;
    grid-template-areas: 
    "show action";
    color: white;
    padding: 40px 0;
}

.bottom {
    border-bottom: 0.5px solid #F6C82A;
}

.show {
    grid-area: show;
}

.action {
    grid-area: action;
    display: flex;
    justify-content: space-between;
}

.action > a {
    font-family: Sen;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: 0px;
    color: #F6C82C;
    padding: 0 5px;
}

.action > a:hover {
    color: white;
}

h3.date {
    margin: 0;
    font-family: Sedgwick Ave;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
}

h3.venue {
    margin: 0;
    font-family: Sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
}

h3.city {
    margin: 0;
    font-family: Sen;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}



/* VIDEOS CONTENT */

#videos {
    height: auto;
    min-height: 100vh;
    background-color: #222222
}

.videos-grid {
    width: 90vw;
    display: flex;
    overflow: scroll;
}

.videos-grid > video {
    width: 809px;
    height: 455px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 15px 10px -6px #00000050;
}

.first-frame {
    width: 809px;
    height: 455px;
    border-radius: 5px;
    position: absolute;
    background-color: #00000060;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 15px 10px -6px #00000050;
}

.play-border {
    position: absolute;
    width: 118px;
    height: 118px;
    border-radius: 50%;
    border: yellow 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

#play-btn {
    width: 48px;
    height: 54px;
    z-index: 5;
    transition: 0.4s ease-in-out;
}

#play-btn:hover{
    opacity: 0.5;
}

.videos-controls {
    position: absolute;
    right: 0;
    margin: 570px 0 0 0;
}

.videos-controls > a > img {
    padding: 0 40px;
    transition: 0.4s ease-in-out;
}

.videos-controls > a > img:hover {
    opacity: 0.6;
}


h2.song-title {
    line-height: 50px;
    margin-bottom: 5px;
}

h3.credit {
    margin: 0;
    font-family: Sedgwick Ave;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    color: white;
}



/* STORE CONTENT */

#store {
    height: auto;
    background-color: #F0C226;
}

.store-grid {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.item {
    width: 32vw;
    height: 32vw;
}

.item:hover {
    transition: all 0.4s ease-in-out;
    transform: scale(0.95);
    opacity: 0.9;
    cursor: pointer;
}

.store-grid > .item > img {
    flex-grow: 1;
    width: 98%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 15px 10px -6px #00000050;
}

h3.item-name {
    margin: 0;
    font-family: Sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
    color: black;
}

h3.item-price {
    margin: 0;
    font-family: Sedgwick Ave;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    color: black;
}
    


/* PHOTOS CONTENT */

#photos {
    height: auto;
    background-color: #000000;
}

.photos-grid {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.photo {
    flex-grow: 1;
    max-width: 19%;
    margin: 0.5%;
    box-sizing: border-box;
}

.photo > img {
    object-fit: contain;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}



/* SUBSCRIBE FORM */

#subscribe {
    height: auto;
    background-color: #2A2A2A;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 800;
}

form {
    width: 60vw;
    margin: 6% 0;
}

.text-values {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

input#email {
    width: 48%;
    background-color: transparent;
    border: none;
    border-bottom: 1px #F6C82A solid;
    font-family: Sen;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    color: #F6C82A;
}

select#country {
    width: 48%;    
    background-color: transparent;
    border: none;
    border-bottom: 1px #F6C82A solid;
    font-family: Sen;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    color: #F6C82A;
}

h3.subscribe {
    font-family: Sedgwick Ave;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    margin: 2em 0 0.2em;
}

.checks {
    display: flex;
    justify-content: flex-start;
}

.checks > input {
    appearance: none;
	background-color: transparent;
	border: 2px solid #F6C82A;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 6px;
    margin: 0.2em 10px 2em 0;
    border-radius: 3px;
    height: 5px;
    width: 5px;
	display: inline-block;
	position: relative;
}

.checks > input:checked:after {
	content: '\2714';
	font-size: 10px;
	position: absolute;
	top: 0px;
	left: 3px;
    color: #F6C82A;
} 

label {
    display: inline-block;
    color: #F6C82A;
    margin: 0.2em 10px 2em 0;
    height: 7px;
}

.highlight {
    color: #F6C82A;
}

footer {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: #F6C82A;
    font-family: Sen;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: center;
    position: relative;
    bottom: 0;
}



/* RESPONSIVE */

@media only screen 
    and (min-width: 412px)
    and (max-width: 1110px) {
    

    .flex-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #landing {
        background-position: center;
    }

    .tour-grid {
        height: auto;
        display: block;
    }

    .tour-item {
        width: 90%;
        height: auto;
    }

    .bottom {
        display: none;
    }

    #videos {
        height: auto;
        min-height: 100vh;
        background-color: #222222
    }

    .videos-grid {
        width: 80vw;
        display: flex;
        overflow: scroll;
    }

    .videos-grid > video {
        width: 80vw;
        height: 30vh;
    }

    .first-frame {
        width: 80vw;
        height: 30vh;
    }

    .videos-controls {
        display: none;
    }

    .item {
        margin-bottom: 12vh;
    }

}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    h1 {
        font-size: 40px;
    }

    .nav-links {
        display: none;
    }

    h1.hero-title {
        font-size: 40px;
        line-height: 40px;
    }

    .hero-controls {
        display: none;
    }

    .releases-box {
        flex-wrap: wrap;
    }

    .item {
        margin-bottom: 20vh;
    }

    #subscribe {
        display: block;
    }

    .text-values {
        display: block;
    }

    input#email {
        width: 90%;
    }

    input#country {
        width: 90%;
    }

    footer {
        width: 100vw;
        display: block;
        position: relative;
        bottom: 0;
    }

}


  